
.form{
  margin: 0 auto;
  align-items: center;
}

input[type="text"] {
  padding: 12px 25px;
  margin: 8px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

input[type="tel"] {
  padding: 12px 25px;
  margin: 8px ;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

input[type="email"] {
  padding: 12px 25px;
  margin: 8px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}


.btn {
  margin: 8px 8px;
}
.incorrecto {
  border: 1px solid red !important;
  color: red; }

.order {
    margin-top: 10px;
    text-align: center; 
    font-size: 18px;
  }

  h6{
  
    margin: 8px;
  }