.ItemList {
  font-size: 2.5rem;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  justify-content: center;
}

.ItemList:hover {
  color: #0087ff;
}

@media only screen and (max-width: 600px) {
  .container {
    gap: 50px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
